.flex {
    display: flex;
    flex-wrap: nowrap;

}

/* .mb-3 {
    display: flex;
    flex-wrap: nowrap;

} */

.center {
    margin: 20px auto;
    width: 60%;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    border: 5px solid #ffff01;
    padding: 10px;
}

table,
td,
th {
    border: 1px solid black;
    margin: auto;
    width: 60%;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    /* border: 5px solid #ffff01; */
    padding: 10px;

}

.table {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body {
    background-image: linear-gradient(blue, black);
} */